ion-content.background{
    --background: url(../../assets/images/image1.jpg) 0 0/100% 100% no-repeat;
}
ion-button{
    --background :#1C2833
}
ion-toolbar{
    --background: #808B96;
    --color : #2C3E50;
}