

<ion-header>
  <ion-toolbar>
    <ion-title>ToDoList</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deconnexion()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="background">

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="todo">
        <ion-icon name="today-outline"></ion-icon>
        <ion-label>To Do</ion-label>
        <ion-badge>{{ nb }}</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="done">
        <ion-icon name="checkmark-done-outline"></ion-icon>
        <ion-label>Done</ion-label>
      </ion-tab-button>
      
    </ion-tab-bar>
  </ion-tabs> 
  

</ion-content>



